{% extends "skeleton.html" %}
{% block title %}Administration{% endblock %}
{% block heading %}Administration{% endblock %}
{% block body %}
  <h2>User Admin</h2>
  <table class="ui very basic collapsing celled table">
    <thead>
      <tr>
        <th>User</th>
        <th>Email</th>
        <th>Source</th>
        <th>Joined</th>
        <th>Enabled</th>
        <th>Admin</th>
      </tr>
    </thead>
    <tbody>
      {% for user in USERS %}
      <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.provider }}</td>
        <td>{{ user.joined_at_utc }}</td>
        <td>{{ user.active }}</td>
        <td>{{ user.admin }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
