<!DOCTYPE html>
<html>
  <head>
    <meta name="google-signin-client_id" content="103412510527-l53qc3670gg7tved63dvqer4c0ldr4go.apps.googleusercontent.com">
    <title>Register User</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet" type="text/css">
    <script src="https://apis.google.com/js/api:client.js"></script>

    <script src="{{url_for('static', filename='signin.js')}}"></script>
  </head>
  <body>
    <h1>Register</h1>
    <!-- In the callback, you would hide the gSignInWrapper element on a
     successful sign in -->
     <div id="gSignInWrapper">
       <div id="customBtn" class="customGPlusSignIn">
         <span class="icon"></span>
         <span class="buttonText">Register with Google</span>
       </div>
     </div>
     <div id="name"></div>
     <script>startApp("{{STATE}}");</script>
   <body>
</html>
